<div id="app">
    <section class="content-header">
        <h3 class="text-center">
            <i class="fa fa-book"></i> COUPON ISSUE BY MONTHLY
        </h3>
    </section>
    <section lass="content ">
        <div class="row">
            <div class="col-sm-12">
                <div class="box">
                    <h3 style="display: none;" class="text-center titlePrint">
                        <i class="fa fa-book"></i> COUPON ISSUE BY MONTHLY
                    </h3>
                    <div class="box-body">
                        <div class="section-to-hide">
                            <form v-on:submit.prevent="searchReport" class="form-inline text-center" style="margin: 15px 0;">
                                <div class="form-group">
                                    <label>FROM:</label>
                                    <input v-model="search.from" type="date" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label>TO:</label>
                                    <input v-model="search.to" type="date" class="form-control">
                                </div>
                                <button type="submit" class="btn btn-success">SEARCH</button>
                            </form>
                            <button @click="print" style="margin: 15px 0;" class="btn btn-default btn-sm pull-right">
                                <i class="fa fa-print"></i> พิมพ์
                            </button>
                        </div>
                        <table id="tableReportMonthly" class="table table-bordered table-hover section-to-print">
                            <thead>
                                <tr>
                                    <th class=" text-center" width="15%">DATE</th>
                                    <th class=" text-left">AGENT NAME</th>
                                    <th class=" text-center">PAX</th>
                                </tr>
                            </thead>
                            <tbody>
                                <template v-for="data in obj">
                                    <template v-show="data.arr.length > 0" v-for="(data2,index) in data.arr">
                                        <tr>
                                            <td v-show="index == 0" class=" text-center">\{{ data.date }}</td>
                                            <td v-show="index != 0"></td>
                                            <td>\{{ data2.agentName}}</td>
                                            <td class=" text-right">\{{ data2.totalPax}}</td>
                                        </tr>
                                    </template>
                                    <tr v-show="data.arr.length <= 0">
                                        <td class=" text-center">\{{ data.date }}</td>
                                        <td>-</td>
                                        <td class=" text-right">0</td>
                                    </tr>
                                    <tr>
                                        <th></th>
                                        <th style=" text-align: center; ">SUB TOTAL</th>
                                        <th class="text-right">\{{ data.subTotal }}</th>
                                    </tr>
                                </template>
                                <tr>
                                    <th></th>
                                    <th class="text-center">TOTAL</th>
                                    <th class="text-right">\{{ obj.total }}</th>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js "></script>
<script src="https://unpkg.com/axios/dist/axios.min.js "></script>
<script src="/myJs/reportMonthly.js "></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.14.1/moment.min.js "></script>
<style>
    @media print {
        body * {
            visibility: hidden;
            /* position: relative !important; */
            margin: 0 !important;
            padding: 0 !important;
        }
        .titlePrint {
            visibility: visible;
            display: block !important;
            bottom: 0 !important;
            padding: 30px 0 !important;
        }
        .section-to-hide,
        .section-to-hide * {
            display: none !important;
        }
        .section-to-print,
        .section-to-print * {
            visibility: visible;
        }
        /* #section-to-print {
      position: fixed;
      width: 100% !important;
      top: 0 !important;
      left: 0 !important;
    } */
        /* #section-to-print h4 {
      font-size: 30px;
      font-weight: bold;
    }
    #section-to-print h6 {
      font-size: 24px;
      font-weight: bold;
    } */
    }
</style>